body > .rigth-container {
    width: 80%;
    height: max-content;
    background-color: var(--second-color);
    position: relative;
    left: 20%;
    padding: 1rem;
    
}

.rigth-container > .main-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-info{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.section-info > h2 {
    color: var(--terciary-color);
    font-size: 2.1rem;
    border-bottom: solid 3px #fff;
    padding-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.section-profile {
    margin-top: 0.5rem;
    padding: 0.2rem 1rem 2rem;
    font-size: 1.5rem ;
    color:#f5ffe6;
}
.section-profile > p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}





.container-cards {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-proyects {
    width: 30rem;
    height: auto;
    border-radius: 10px;
    background-color: var(--first-color);
    margin: 1rem;
    display: flex;
    
}

.card-proyects > .container-img-card {
    width: 50%;
    height: 100%;
}

.container-img-card > img {
    width: 100%;
    height: auto;
    border-radius: 7px 0 0 7px;
    display: block;
}

.card-proyects > .container-description-card {
    width: 50%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.container-description-card > h3,
.container-description-card > p{
    text-align: center;
    color: #fff;
    margin-top: 0.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.container-description-card > a {
    margin-bottom: 1rem;
    text-decoration: none;
    font-size: 0.6rem;
    text-align: center;
    width: 5rem;
    padding: 0.5rem;
    color: #fff;
    background-color: var(--second-color);
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.container-description-card > a:hover {
    background-color: var(--second-color);
    box-shadow: 0 0 10px #fff;
}






.card-references {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.card-references > .card-reference {
    width: 17rem;
    height: 10rem;
    background-color: var(--terciary-color);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0.5rem;
    color: var(--first-color);
    line-height: 1.5rem;
    font-size: 1rem;
    
}

.card-reference > p > span {
    font-size:  0.9rem;
    text-align: right;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: #f5ffe6;
}





.container-experience {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
    margin-top: 1rem;

}

.card-experience {
    width: 15m;
    height: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.card-experience > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.progress-bar {
    width: 8rem;
    height: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar::-webkit-progress-value {
    background-color: #520b0b;
}

.progress-bar::-moz-progress-bar {
    background-color: #520b0b;
}

.progress-bar::-ms-fill {
    background-color: #520b0b;
}

.card-reference > p {
    color:var(--first-color);
    font-family: 'Courier New', Courier, monospace;
}


@media(max-width: 950px) {
    body > .rigth-container {
        width: 100%;
        height: max-content;
        background-color: var(--second-color);
        position: relative;
        left: 0%;
        padding: 1rem;
    }
}